{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="body-wrapper">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="home-wrapper">
    <h1>Hello! Bienvenu sur Steam de Wish</h1>

    C'est comme Steam sauf que :
    <ul>
    <li>C'est de la merde</li>
    <li>Ca marche pas vraiment!</li>
    <li>C'est vraiment de la merde</li>
    <li>Enjoy ! :D</li>
    </ul>
</div>
</div>
{% endblock %}
